html, body, #root, .app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */

}


.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background:
      conic-gradient(at 10% 50%,#0000 75%,#202024 0),
      conic-gradient(at 10% 50%,#0000 75%,#202024 0) calc(1*32px) calc(3*32px),
      conic-gradient(at 10% 50%,#0000 75%,#202024 0) calc(2*32px) calc(1*32px),
      conic-gradient(at 10% 50%,#0000 75%,#202024 0) calc(3*32px) calc(4*32px),
      conic-gradient(at 10% 50%,#0000 75%,#202024 0) calc(4*32px) calc(2*32px),
      conic-gradient(at 50% 10%,#0000 75%,#202024 0) 0 calc(4*32px),
      conic-gradient(at 50% 10%,#0000 75%,#202024 0) calc(1*32px) calc(2*32px),
      conic-gradient(at 50% 10%,#0000 75%,#202024 0) calc(2*32px) 0,
      conic-gradient(at 50% 10%,#0000 75%,#202024 0) calc(3*32px) calc(3*32px),
      conic-gradient(at 50% 10%,#0000 75%,#202024 0) calc(4*32px) calc(1*32px),
      #0d0f10;
background-size: 160px 160px;

}

.header {
  /* border: 1px solid red; */
  color: pink;
  background-color: #4a4848;
  width: 100%;
  text-align: center;
  background: rgba(255,255,255,0.3);
-webkit-backdrop-filter: blur(2px);
backdrop-filter: blur(2px);
border: 1px solid rgba(255,255,255,0.25);
}

.torso {
  /* border: 1px solid orange; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.chart-container {
  position: relative;
  /* border: 1px solid green; */
  display: flex;
  /* flex-direction: row;
  align-items: center;
  justify-content: center; */
  width: 70%;
  height: 70%;
  /* gap: 0px; */
}

.chart {
  position: relative;
  /* border: 1px solid red; */
  background-color: #4a4848;
  border-radius: 10px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  width: 100%;
  height: 80%;
  padding: 40px;
}

.x-axis-label {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  color: pink;
  font-weight: bold;
  /* background: #f0f0f0;  */
  /* border-top: 1px solid #e11111;  */
}

.y-axis-label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(-90deg);
  transform-origin: left top;
  padding: 5px;
  color: yellowgreen;
  font-weight: bold;
  /* background: #f0f0f0; */
  /* border-right: 1px solid #000;  */
}

.overlap-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.box-container {
  position: absolute;
  /* background-color: rgb(152, 140, 140); */
  width: 100%;
  height: 100%;
  border: 2px solid rgb(37, 185, 244);
  display: flex;
}

.target-container {
  position: absolute;
  /* background-color: rgb(152, 140, 140); */
  width: 100%;
  height: 100%;
  border: 2px solid rgb(37, 185, 244);
  display: flex;
}

.item {
  height: 50px;
  width: 50px;
  background-color: yellowgreen;
  border: 2px solid transparent;
}

.target {
  height: 50px;
  width: 50px;
  border: 2px solid rgb(37, 185, 244);
}

.left-side {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
}

.controls {
  display: flex;
  flex-direction: row;
}

.button-container {
  /* border: 1px solid purple; */
  /* height: 30%; */
  display: flex;
  flex-direction: row;
}

.button-column {
  display: flex;
  flex-direction: column;
}

.label {
  border: 2px solid rgb(80, 79, 78);
  background-color: rgb(152, 140, 140);
  padding: 10px;
  margin: 5px;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.3s ease;

}

.labelActive {
  border: 2px solid rgb(80, 79, 78);
  /* background-color: rgb(207, 152, 23); */
  background-color: rgb(152, 140, 140);
  padding: 10px;
  margin: 5px;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.buttonActive {
  border: 2px dashed orange;
  background-color: white;
  /* color: orange; */
  cursor: pointer;
  padding: 10px;
  margin: 5px;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.3s ease;

}

.buttonSelected {
  border: 2px solid orange;
  background-color: white;
  /* color: orange; */
  cursor: pointer;
  padding: 10px;
  margin: 5px;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.3s ease;

}

.buttonUnselected {
  border: 2px solid gray;
  background-color: white;
  /* color: gray; */
  cursor: pointer;
  padding: 10px;
  margin: 5px;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.3s ease;

}

.footer {
  border: 1px solid green;
  

}