@font-face {
  font-family: bitwise; 
  src: url(assets/bitwise.ttf);
}

@font-face {
  font-family: flexi; 
  src: url(assets/Flexi.ttf);
}

html, body, #root, .app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */

}


.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background:
      conic-gradient(at 10% 50%,#0000 75%,#202024 0),
      conic-gradient(at 10% 50%,#0000 75%,#202024 0) calc(1*32px) calc(3*32px),
      conic-gradient(at 10% 50%,#0000 75%,#202024 0) calc(2*32px) calc(1*32px),
      conic-gradient(at 10% 50%,#0000 75%,#202024 0) calc(3*32px) calc(4*32px),
      conic-gradient(at 10% 50%,#0000 75%,#202024 0) calc(4*32px) calc(2*32px),
      conic-gradient(at 50% 10%,#0000 75%,#202024 0) 0 calc(4*32px),
      conic-gradient(at 50% 10%,#0000 75%,#202024 0) calc(1*32px) calc(2*32px),
      conic-gradient(at 50% 10%,#0000 75%,#202024 0) calc(2*32px) 0,
      conic-gradient(at 50% 10%,#0000 75%,#202024 0) calc(3*32px) calc(3*32px),
      conic-gradient(at 50% 10%,#0000 75%,#202024 0) calc(4*32px) calc(1*32px),
      #0d0f10;
background-size: 160px 160px;

}

.header {
  /* border: 1px solid red; */
  color: pink;
  background-color: #4a4848;
  width: 100%;
  text-align: center;
  background: rgba(255,255,255,0.3);
-webkit-backdrop-filter: blur(2px);
backdrop-filter: blur(2px);
border: 1px solid rgba(255,255,255,0.25);
  font-family: bitwise;
}

.torso {
  /* border: 1px solid orange; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.chart-container {
  position: relative;
  /* border: 1px solid green; */
  display: flex;
  /* flex-direction: row;
  align-items: center;
  justify-content: center; */
  width: 70%;
  height: 70%;
  /* gap: 0px; */
}

.chart {
  position: relative;
  /* border: 1px solid red; */
  background-color: #4a4848;
  border-radius: 10px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  width: 100%;
  height: 80%;
  padding: 40px;
}

.x-axis-label {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  color: pink;
  font-weight: bold;
  /* background: #f0f0f0;  */
  /* border-top: 1px solid #e11111;  */
}

.y-axis-label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(-90deg);
  transform-origin: left top;
  padding: 5px;
  color: yellowgreen;
  font-weight: bold;
  /* background: #f0f0f0; */
  /* border-right: 1px solid #000;  */
}

.overlap-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.box-container {
  position: absolute;
  /* background-color: rgb(152, 140, 140); */
  width: 100%;
  height: 100%;
  border: 2px solid rgb(37, 185, 244);
  display: flex;
}

.target-container {
  position: absolute;
  /* background-color: rgb(152, 140, 140); */
  width: 100%;
  height: 100%;
  border: 2px solid rgb(37, 185, 244);
  display: flex;
}

.item1, .item2, .item3, .item4, .item5 {
  background-color: yellowgreen;
  border: 2px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item1, .target1 {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.item2, .target2 {
  height: 40px;
  width: 60px;
  border-radius: 10px;
}

.item3, .target3 {
  height: 40px;
  width: 70px;
  border-radius: 20px;
}

.item4, .target4 {
  height: 70px;
  width: 50px;
  border-radius: 15px;
}

.item5, .target5 {
  height: 30px;
  width: 50px;
  border-radius: 5px;
}

.target1, .target2, .target3, .target4, .target5 {
  border: 2px solid rgb(37, 185, 244);
}

.left-side {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
  gap: 10px;
}

.instructions {
  color: orange;
  text-align: center;
  font-family: flexi;
}

.controls {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-end;
}

.github-logo, .github-logo:hover {
  color: pink;
  position: relative; 
  
}

.github-logo::before,
.github-logo::after {
  color: pink;
  content: ''; /* Empty content for the pseudo-elements */
  position: absolute;
  left: 0;
  right: 0;
  height: 2px; /* Thickness of the border */
  background-color: pink; /* Color of the border */
  transform: scaleX(0); /* Start with no border visible */
  transition: transform 0.3s ease; /* Smooth transition for the border */
}

.github-logo:hover::before,
.github-logo:hover::after {
  transform: scaleX(1); /* Expand the borders on hover */
  color: pink;
}

.button-container {
  /* border: 1px solid purple; */
  /* height: 30%; */
  display: flex;
  flex-direction: row;
}

.button-column {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(80, 79, 78);
  background-color: rgb(152, 140, 140);
  padding: 5px;
  margin: 1px;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  transition: all 0.3s ease;

}

.buttonActive, .buttonSelected, .buttonUnselected {
  cursor: pointer;
  padding: 5px;
  margin: 1px;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.buttonActive {
  border: 2px solid orange;
  background-color: orange;
}

.buttonSelected {
  border: 2px solid orange;
  background-color: white;
}

.buttonUnselected {
  border: 2px solid gray;
  background-color: white;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
}

.modal-content button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:first-of-type {
  background: green;
  color: white;
}

.modal-content button:last-of-type {
  background: red;
  color: white;
}